 <h2>Bonjour,</h2>
<h5> Une nouvelle annonce, <%= @announcement.title %> vient d'être publiée, et peut être facturée au client <%= @announcement.customer_name %>.</h5>
<p>Pour générer la facture, rendez-vous sur la page <%= link_to "ici", @url %>.</p>
<h2>Bonne journée !</h2>
